html, body {
	width:100%;
	height:100vh;
	margin:0px;
	padding:0px;
	overflow:hidden;
	position:relative;
	font-family:sans-serif;
}

::-webkit-scrollbar {
	display:none;
}

@media only screen and (max-width:425px) and (orientation:portrait) {

	/*Editor Area*/
	#editor-ext {
		width:100vw;
		height:100vh;
		overflow:hidden;
		position:relative;
	}

	/*Editor Section*/
	#editor {
		width:100vw;
		height:100vh;
		overflow-x:hidden;
		overflow-y:scroll;
	}

	#in-edit {
		width:100%;
		height:auto;
		border-top:0.5px solid #080808;
		border-bottom:0.5px solid #080808;
	}

	.editorSec {
		width:140vw;
		height:4em;
		overflow:hidden;
		margin-left:0em;
		transition:all 0.5s ease;
		border-top:0.5px solid #080808;
		border-bottom:0.5px solid #080808;
	}

	.editorTitle {
		width:140vw;
		height:4em;
		overflow:hidden;
		position:relative;
	}

	.editTitle {
		text-align:center;
		color:#080808;
		width:100vw;
		height:4em;
		overflow:hidden;
		float:left;
		margin-left:0em;
	}

	.editTitle > h6 {
		text-transform:uppercase;
		font-size:15px;
		font-weight:normal;
		margin-top:25px;
	}

	.use {
		width:4em;
		height:4em;
		background-color:#00B274;
		box-shadow:inset 0 0 0 1px #080808;
		float:left;
		position:absolute;
		left:100vw;
	}

	.learn {
		width:4em;
		height:4em;
		background-color:#B22200;
		box-shadow:inset 0 0 0 1px #080808;
		float:left;
		position:absolute;
		left:calc(100vw + 4em);
	}

	/*Tools and editors*/
	#toolsEditor {
		width:100vw;
		height:100vh;
		overflow-x:hidden;
		overflow-y:scroll;
		background-color:#fff;
		position:absolute;
		z-index:1000;
		top:-100vh;
		left:0px;
		transition:all 1s ease;
	}

	.tools {
		width:100vw;
		height:auto;
		padding-top:1em;
		padding-bottom:1em;
		display:none;
	}

	.sectools {
		width:90vw;
		height:3em;
		margin:0.5em auto;
		overflow:hidden;
	}

	.head-section {
		width:100%;
		height:3em;
		position:relative;
		overflow:hidden;
		box-shadow:inset 0 0 0 1px #000;
		background-color:#f3f3f3;
		text-align:center;
	}

	.sectoolstitle {
		color:#080808;
		height:100%;
		font-size:15px;
		text-align:center;
		overflow:hidden;
		text-transform:uppercase;
		margin-top:16px;
	}

	.edit-area {
		width:90vw;
		height:auto;
	}

	#background {
		width:100%;
		height:15em;
		box-shadow:inset 0 0 0 2px #000;
	}

	/*Selection Button*/
	#selection-buttons {
		width:100vw;
		height:3em;
		position:absolute;
		z-index:1000000;
		bottom:0px;
		left:0px;
		border-top:1px solid #080808;
		border-bottom:1px solid #080808;
	}

	.selection {
		width:25vw;
		height:3em;
		box-shadow:inset 0 0 0 1px #080808;
		float:left;
	}

}

@media only screen and (max-width:769px) and (orientation:landscape) {

	#editor-ext {
		width:100vw;
		height:100vh;
		overflow:hidden;
		position:relative;
	}

	#editor {
		width:100vw;
		height:100vh;
		overflow-y:hidden;
		overflow-x:scroll;
	}

	#in-edit {
		width:120vw;
		height:100vh;
		padding-right:4em;
	}

	.editorSec {
		width:40vw;
		height:50vh;
		box-shadow:inset 0 0 0 1px #000;
		float:left;
		overflow:hidden;
	}

	#toolsEditor {
		display:none;
	}

	#selection-buttons {
		width:4em;
		height:100vh;
		box-shadow:0 0 0 1px #080808;
		position:absolute;
		z-index:10000;
		top:0px;
		right:0px;
	}

}