html, body {
	width:100%;
	height:100vh;
	margin:0px;
	padding:0px;
	overflow:hidden;
	position:relative;
	font-family:sans-serif;
}

::-webkit-scrollbar {
	display:none;
}

@media only screen and (max-width:425px) and (orientation:portrait) {

	/*Editor Area*/
	#editor-ext {
		width:100vw;
		height:100vh;
		overflow:hidden;
		position:relative;
		transition:all 0.75s ease;
		outline:none;
	}

	.ui-page {
		outline:none;
	}

	.ui-loader > h1 {
		display:none;
	}

	/*These are the editor Title*/
	#editor-title {
		width:100vw;
		height:4em;
		position:absolute;
		z-index:10000000;
		top:0px;
		background-color:#fff;
		overflow:hidden;
		text-align:center;
		color:#f8f8f8;
		box-shadow:0 0 4px #484848;
		/*border-top:0.25px solid #484848;
		border-bottom:0.25px solid #484848;*/
	}

	#edit-title-top {
		text-transform:uppercase;
		font-weight:normal;
		color:#484848;
		font-size:20px;
		padding:5px;
		border:2px solid #484848;
		width:10em;
		margin:auto;
		margin-top:14px;
	}

	#close-tool {
		width:auto;
		height:auto;
		position:absolute;
		top:19px;
		left:1em;
		display:none;
	}

	/*Editor Section*/
	#editor {
		width:100vw;
		height:100vh;
		overflow-x:hidden;
		overflow-y:scroll;
	}

	#in-edit {
		width:100%;
		height:auto;
		padding-top:4em;
		border-bottom:0.25px solid #000;
	}

	.editorSec {
		width:140vw;
		height:4em;
		overflow:hidden;
		margin-left:0em;
		transition:all 0.5s ease;
	}

	.editorTitle {
		width:140vw;
		height:4em;
		overflow:hidden;
		position:relative;
		border-top:0.25px solid #000;
		border-bottom:0.25px solid #000;
	}

	.editTitle {
		text-align:center;
		color:#080808;
		width:100vw;
		height:4em;
		overflow:hidden;
		float:left;
		margin-left:0em;
		position:relative;
		-webkit-tap-highlight-color: rgba(0,0,0,0); 
	}

	.slide-open {
		width:4em;
		height:4em;
		background-color:#f8f8f8;
		position:absolute;
		z-index:1000;
		left:calc(100vw - 4em);
		top:0px;
		text-align:center;
		-webkit-tap-highlight-color: rgba(0,0,0,0); 
	}

	.slide-open > img {
		margin-top:1.35em;
		margin-left:0.25em;
	}

	.editTitle > h6 {
		text-transform:uppercase;
		font-size:15px;
		font-weight:normal;
		margin-top:25px;
	}

	.use {
		width:4em;
		height:4em;
		background-color:#00F6FF;
		float:left;
		position:absolute;
		left:100vw;
		text-align:center;
		-webkit-tap-highlight-color: rgba(0,0,0,0); 
	}

	.use > img {
		margin-top:1.05em;
	}

	.learn {
		width:4em;
		height:4em;
		background-color:#0CA6E8;
		float:left;
		position:absolute;
		left:calc(100vw + 4em);
		text-align:center;
		-webkit-tap-highlight-color: rgba(0,0,0,0); 
	}

	.learn > img {
		margin-top:1.05em;
	}

	/*Tools and editors*/
	#toolsEditor {
		width:100vw;
		height:100vh;
		overflow-x:hidden;
		overflow-y:scroll;
		background-color:#fff;
		position:absolute;
		z-index:100000;
		top:-100vh;
		left:0px;
		transition:all 1s ease;
	}

	.tools {
		width:100vw;
		height:auto;
		padding-top:4.5em;
		padding-bottom:4em;
		display:none;
	}

	.sectools {
		width:90vw;
		height:3em;
		margin:1em auto;
		overflow:hidden;
		transition:all 0.75s ease;
		-webkit-tap-highlight-color: rgba(0,0,0,0); 
	}

	.head-section {
		width:100%;
		height:3em;
		position:relative;
		overflow:hidden;
		box-shadow:inset 0 0 0 1px #000;
		background-color:#f3f3f3;
		text-align:center;
	}

	.sectoolstitle {
		color:#080808;
		height:100%;
		font-size:15px;
		text-align:center;
		overflow:hidden;
		text-transform:uppercase;
		margin-top:16px;
		cursor:default;
	}

	.edit-area {
		width:90vw;
		height:auto;
	}

	/*Background edit*/

	#background {
		width:100%;
		height:15em;
		box-shadow:inset 0 0 5px #000;
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center center;
		background-image:url("../img/hotel_1.jpg");
	}

	#selection {
		width:100%;
		height:15em;
		overflow:hidden;
		background-color:#f3f3f3;
	}

	#backcolorsel {
		width:80vw;
		height:6em;
		box-shadow:inset 0 0 0 1px #080808;
		margin:auto;
		margin-top:1em;
	}

	#backgroundimgsel {
		width:80vw;
		height:6em;
		box-shadow:inset 0 0 0 1px #080808;
		margin:auto;
		margin-top:1em;
	}

	#count {
		width:100%;
		height:6em;
		background-color:#f3f3f3;
		overflow:hidden;
		position:relative;
	}

	/*Title Editor*/
	#title {
		width:100%;
		height:auto;
		overflow:hidden;
		text-align:center;
		background-image:url("../img/hotel_1.jpg");
		background-repeat:no-repeat;
		background-position:center center;
		padding-top:1.05em;
		padding-bottom:1.05em;
	}

	#pre-title {
		text-transform:uppercase;
		font-weight:normal;
		font-size:18px;
		margin-top:5.25%;
		color:#ffffff;
		width:13em;
		border:2px solid #ffffff;
		padding-top:5px;
		padding-bottom:5px;
		margin:auto;
	}

	#change-title {
		width:100%;
		height:auto;
		padding-top:1.5em;
		padding-bottom:1.5em;
		overflow:hidden;
		text-align:center;
		background-color:#f3f3f3;
	}

	#change-title-text {
		width:75%;
		height:1.75em;
		outline:none;
		text-align:center;
		font-size:16px;
		margin:auto;
		text-transform:uppercase;
		border:0.25px solid #484848;
	}

	#font-size {
		width:100%;
		height:4em;
		background-color:#f3f3f3;
		overflow:hidden;
		text-align:center;
	}

	#font-pre {
		width:20%;
		height:100%;
		overflow:hidden;
		text-align:center;
		float:left;
	}

	#font-pre > h3 {
		font-size:20px;
		font-weight:normal;
		color:#484848;
	}

	#change-up-size {
		width:20%;
		height:100%;
		float:left;
		overflow:hidden;
		margin-left:20%;
	}

	#change-up {
		margin-left:28%;
		margin-top:23%;
	}

	#change-down-size {
		width:20%;
		height:100%;
		float:left;
		overflow:hidden;
	}

	#change-down {
		margin-left:28%;
		margin-top:23%;
	}

	.move-count {
		width:2em;
		height:2em;
		border-radius:50%;
		box-shadow:0 0 3px #484848;
		float:left;
		margin-top:11%;
		background-color:#efefef;
		overflow:hidden;
		text-align:center;
		-webkit-tap-highlight-color: rgba(0,0,0,0); 
	}

	#font-family {
		width:100%;
		height:5em;
		background-color:#f3f3f3;
		overflow:hidden;
		text-align:center;
	}

	#font-color {
		width:100%;
		height:6em;
		background-color:#f3f3f3;
		overflow:hidden;
		text-align:center;
	}

	/*Selection Button*/
	#selection-buttons {
		width:100vw;
		height:4em;
		position:absolute;
		z-index:100000000;
		bottom:0px;
		left:0px;
		background-color:#fff;
		outline:none;
	}

	.selection {
		width:20vw;
		height:4em;
		float:left;
		text-align:center;
		overflow:hidden;
	}

	.selection > img {
		margin-top:1.25em;
	}

}

@media only screen and (max-width:768px) and (min-width:426px) {

	/*This is the editor*/
	#editor-ext {
		width:100vw;
		height:100vh;
		background-color:rgba(255,255,255,0.3);
		overflow:hidden;
	}

	.editor {
		width:100vw;
		height:100vh;
		overflow-y:scroll;
		overflow-x:hidden;
	}

	#in-edit {
		width:100vw;
		height:auto;
		border-top:1px solid #000;
		border-bottom:1px solid #000;
	}

	.editorSec {
		width:160vw;
		height:6em;
		overflow:hidden;
		border:1px solid #000;
		transition:all 0.75s ease;
	}

	.editorTitle {
		width:160vw;
		height:6em;
		position:relative;
		overflow:hidden;
		transition:all 0.75s ease;
	}

	.editTitle {
		width:100vw;
		height:100vh;
		background-color:#fff;
		text-align:center;
		overflow:hidden;
		color:#080808;
	}

	.editTitle > h6 {
		text-transform:uppercase;
		font-weight:normal;
		margin-top:38px;
		font-size:18px;
	}

	.slide-open {
		width:6em;
		height:6em;
		position:absolute;
		z-index:100000;
		cursor:pointer;
		top:0px;
		background-color:#f3f3f3;
		left:calc(100vw - 6em);
	}

	.use {
		width:6em;
		height:6em;
		position:absolute;
		z-index:10000;
		top:0px;
		left:100vw;
		background-color:#00F6FF;
	}

	.learn {
		width:6em;
		height:6em;
		position:absolute;
		z-index:10000;
		top:0px;
		left:calc(100vw + 6em);
		background-color:#0CA6E8;
	}

	/*These are the tools editor*/
	#toolsEditor {
		width:100vw;
		height:100vh;
		background-color:#fff;
		position:absolute;
		z-index:1000000;
		top:-100vh;
		left:0px;
		overflow-x:hidden;
		overflow-y:scroll;
		transition:all 0.75s ease;

	}

	.tools {
		width:100%;
		height:auto;
		display:none;
	}

	.sectools {
		width:90vw;
		height:4em;
		overflow:hidden;
		margin:auto;
		margin-top:1em;
	}

	.sectools:last-child {
		margin-bottom:5em;
	}

	.head-section {
		width:90vw;
		height:4em;
		position:relative;
		overflow:hidden;
		box-shadow:inset 0 0 0 1px #000;
		background-color:#f3f3f3;
		text-align:center;
	}

	.sectoolstitle {
		font-size:18px;
		margin-top:22px;
	}

	.edit-area {
		width:100%;
		height:auto;
		background-color:#f3f3f3;
		position:relative;
	}

	/*background tools*/
	#background {
		width:100%;
		height:25em;
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center center;
	}

	#count {
		width:100%;
		height:12em;
	}

	#selection {
		width:100%;
		height:20em;
	}

	#animation {
		width:100%;
		height:20em;
	}

	/*Selection Buttons*/
	#selection-buttons {
		width:100vw;
		height:4em;
		background-color:#fff;
		position:absolute;
		z-index:100000000;
		bottom:0px;
		left:0px;
	}

	.selection {
		width:20vw;
		height:4em;
		float:left;
		text-align:center;
	}

	.selection > img {
		margin-top:15px;
	}

}

@media only screen and (min-width:769px) {



}	