::-webkit-scrollbar {
	display:none;
}

html, body {
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	position:relative;
	font-family:sans-serif;
	font-weight:normal;
	overflow:hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
}

/*This is the editor code for the phone portrait orientations*/
@media only screen and (max-width:425px) and (orientation:portrait) {

	/*------------------------------

	--Exterior editor div--

	This is the body of the editor, 
	starting with #editor-ext, floating
	over the actual display of the body
	------------------------------*/
	#editor-ext {
		width:100vh;
		height:0vh;
		background-color:#fff;
		overflow:hidden;
		position:absolute;
		z-index:1000;
		top:0px;
		left:0px;
		transition:all 1s ease;
	}

	/*------------------------------

	--This is the editor title--

	This is the editor title
	------------------------------*/
	#editor-title {
		width:100vw;
		height:4em;
		position:absolute;
		z-index:10000000;
		top:0px;
		background-color:#fff;
		overflow:hidden;
		text-align:center;
		box-shadow:0 0 8px #484848;
	}

	#edit-title-top {
		text-transform:uppercase;
		font-weight:normal;
		color:#484848;
		font-size:20px;
		padding:5px;
		border:2px solid #484848;
		width:10em;
		margin:auto;
		margin-top:14px;
	}

	#close-tool {
		width:auto;
		height:auto;
		position:absolute;
		top:19px;
		left:1em;
		display:none;
	}

	/*------------------------------

	--interior editor div--

	This is where the options for the 
	editor will be displayed
	------------------------------*/
	#editor {
		width:100vw;
		height:100vh;
		background-color:#fff;
		overflow-x:hidden;
		overflow-y:scroll;
		position:absolute;
		top:0em;
		transition:all 0.5s ease;
	}

	#interior-edit {
		width:100vw;
		height:auto;
		margin-bottom:4em;
		border-top:0.25px solid #484848;
		border-bottom:0.25px solid #484848;
		margin-top:4em;
	}

	/*-----Option sections-----*/
	.editor-option {
		width:100vw;
		height:4em;
		overflow:hidden;
		background-color:#fff;
		transition:all 0.5s ease;
		-webkit-tap-highlight-color: rgba(0,0,0,0); 
	}

	.editor-interior-option-section {
		height:4em;
		width:calc(100vw + 12em);
		background-color:#fff;
		position:relative;
		margin-left:0em;
		transition:all 0.5s ease;
		border-top:0.25px solid #484848;
		border-bottom:0.25px solid #484848;
		-webkit-tap-highlight-color: rgba(0,0,0,0); 
	}

	.edit-title-card {
		width:100vw;
		height:4em;
		background-color:#fff;
		text-align:center;
		overflow:hidden;
		-webkit-tap-highlight-color: rgba(0,0,0,0); 
	}

	.edit-title-card > h6 {
		text-transform:uppercase;
		font-weight:normal;
		font-size:15px;
		line-height:0px;
		margin-top:2.25em;
		-webkit-tap-highlight-color: rgba(0,0,0,0); 
	}

	.slide-open {
		width:4em;
		height:4em;
		background-color:#f3f3f3;
		position:absolute;
		z-index:10000;
		top:0px;
		right:calc(12em);
		text-align:center;
		overflow:hidden;
		-webkit-tap-highlight-color: rgba(0,0,0,0); 
	}

	.use {
		width:4em;
		height:4em;
		background-color:#00F6FF;
		position:absolute;
		top:0px;
		right:calc(8em);
		text-align:center;
		overflow:hidden;
		-webkit-tap-highlight-color: rgba(0,0,0,0); 
	}

	.learn {
		width:4em;
		height:4em;
		background-color:#0CA6E8;
		position:absolute;
		top:0px;
		right:4em;
		text-align:center;
		overflow:hidden;
		-webkit-tap-highlight-color: rgba(0,0,0,0); 
	}

	.close-learn {
		width:4em;
		height:4em;
		background-color:#0975a3;
		position:absolute;
		z-index:10000;
		top:0px;
		right:0em;
		text-align:center;
		overflow:hidden;
		-webkit-tap-highlight-color: rgba(0,0,0,0); 
	}

	.slide-open > img,
	.use > img,
	.learn > img,
	.close-learn > img {
		margin-top:18px;
	}

	.slide-open > img {
		margin-top:21px;
	}

	.learn-desc {
		width:100vw;
		height:auto;
		padding-top:1em;
		padding-bottom:1em;
		background-color:#fff;
		text-align:center;
		overflow:hidden;
	}

	.learn-desc > p {
		width:70%;
		margin:auto;
		line-height:30px;
		color:#484848;
	}

	/*------------------------------

	--Tools Editor--

	These are the tools used in for
	the specific editing options. They
	are displayed when the editing options
	is chosen.
	------------------------------*/
	#toolsEditor {
		width:100vw;
		height:100vh;
		background-color:#fff;
		overflow-x:hidden;
		overflow-y:scroll;
		position:absolute;
		z-index:100000;
		top:-100vh;
		left:0px;
		transition:all 0.75s ease;
	}

	.tools {
		width:100vw;
		height:auto;
		padding-top:4em;
		padding-bottom:4em;
		display:none;
	}

	/*This is the specific tools for each section*/
	.sectools {
		width:90vw;
		height:3em;
		overflow:hidden;
		margin:auto;
		margin-top:1em;
		box-shadow:0 0 4px #484848;
		position:relative;
	}

	/*These are the open close indicators*/
	.open-indicator {
		width:3em;
		height:3em;
		position:absolute;
		z-index:1000000;
		top:0px;
		left:0px;
		text-align:center;
		overflow:hidden;
	}

	.open-indicator > img {
		margin-top:17px;
	}

	.close-indicator {
		width:3em;
		height:3em;
		position:absolute;
		z-index:1000000000;
		top:0px;
		left:0px;
		text-align:center;
		overflow:hidden;
		display:none;
	}

	.close-indicator > img {
		margin-top:17px;
	}

	.head-section {
		width:90vw;
		height:3em;
		background-color:#f3f3f3;
		text-align:center;
		font-weight:normal;
		text-transform:uppercase;
		color:#484848;
		box-shadow:inset 0 0 0 1px #484848, 0 0 5px #484848;
		overflow:hidden;
	}

	.sectoolstitle {
		font-size:15px;
		margin-top:16px;
		cursor:default;
	}

	/*-----------------------------

	-----Background Editor-----

	These are the editor tools used
	to change the background options
	-----------------------------*/

	/*------------------------------
	----These is the background preview----
	------------------------------*/
	.edit-area {
		width:90vw;
		height:auto;
	}

	#background {
		width:90vw;
		height:15em;
		overflow:hidden;
	}

	#background-in {
		width:90vw;
		height:15em;
	}

	.back {
		width:90vw;
		height:15em;
		float:left;
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center center;
		box-shadow:inset 0 0 0 800px rgba(0,0,0,0.2);
	}

	#first-back {
		background-image:url("../img/hotel_1.jpg");
	}

	/*------------------------------
	----These is the background image amount----
	------------------------------*/
	#count {
		width:90vw;
		height:4em;
		background-color:#dadada;
		overflow:hidden;
	}

	.move-count {
		width:20vw;
		height:4em;
		overflow:hidden;
		float:left;
		text-align:center;
	}

	#up-count {
		margin-left:15vw;
	}

	.button-count {
		width:2em;
		height:2em;
		border-radius:50%;
		text-align:center;
		overflow:hidden;
		background-color:#fff;
		box-shadow:0 0 5px #484848;
		margin:auto;
		margin-top:1em;
	}

	#count-pre {
		margin-top:33px;
		line-height:0px;
	}

	#change-up-count > img {
		margin-top:8px;
	}

	#change-down-count > img {
		margin-top:8.25px;
	}

	/*------------------------------
	----These is the background image or color----
	------------------------------*/
	#selection {
		width:90vw;
		height:12em;
		background-color:#dadada;
		overflow:hidden;
		position:relative;
	}

	#backcolorsel {
		width:90vw;
		height:6em;
		text-align:center;
		box-shadow:inset 0 0 0 1px #000;
		position:absolute;
		top:0px;
		left:0px;
		overflow:hidden;
	}

	#backimgsel {
		width:90vw;
		height:6em;
		text-align:center;
		box-shadow:inset 0 0 0 0.75px #000;
		position:absolute;
		bottom:0px;
		left:0px;
		overflow:hidden;
	}

	#backcolorsel > h3,
	#backimgsel > h3 {
		font-weight:normal;
		padding:5px;
		text-transform:uppercase;
		color:#484848;
		width:15em;
		border:2px solid #484848;
		margin:auto;
		margin-top:30px;
	}

	/*------------------------------
	----These is the background animation----
	------------------------------*/
	#animation {
		width:90vw;
		height:12em;
		overflow:hidden;
		background-color:#dadada;
	}

	/*-----------------------------

	-----Icon Editor-----

	These are the editor tools used
	to change the background options
	-----------------------------*/

	/*------------------------------
	----These is the icon image preview----
	------------------------------*/
	#image-preview {
		width:90vw;
		height:auto;
		padding-top:1em;
		padding-bottom:1em;
		background-color:#dadada;
		overflow:hidden;
		text-align:center;
	}

	/*-----------------------------

	-----Title Editor-----

	These are the title editor tools
	-----------------------------*/

	/*------------------------------
	----These is the title editor preview----
	------------------------------*/
	#title-preview {
		width:90vw;
		height:auto;
		padding-top:1em;
		padding-bottom:1em;
		background-color:#dadada;
		overflow:hidden;
		text-align:center;
	}

	/*------------------------------
	----These is the title edit section----
	------------------------------*/
	#title-edit {
		width:90vw;
		height:auto;
		padding-top:1em;
		padding-bottom:1em;
		background-color:#dadada;
		overflow:hidden;
		text-align:center;
	}

	/*------------------------------
	----These is the font color----
	------------------------------*/
	#font-color {
		width:90vw;
		height:auto;
		padding-top:1em;
		padding-bottom:1em;
		background-color:#dadada;
		overflow:hidden;
		text-align:center;
	}

	/*------------------------------
	----These is the font size----
	------------------------------*/
	#font-size {
		width:90vw;
		height:auto;
		padding-top:1em;
		padding-bottom:1em;
		background-color:#dadada;
		overflow:hidden;
		text-align:center;
	}

	/*------------------------------
	----These is the font family----
	------------------------------*/
	#font-family {
		width:90vw;
		height:auto;
		padding-top:1em;
		padding-bottom:1em;
		background-color:#dadada;
		overflow:hidden;
		text-align:center;
	}

	/*------------------------------
	----These is the title border----
	------------------------------*/
	#title-border {
		width:90vw;
		height:auto;
		padding-top:1em;
		padding-bottom:1em;
		background-color:#dadada;
		overflow:hidden;
		text-align:center;
	}

	/*-----------------------------

	-----Date Editor-----

	These are the title editor tools
	-----------------------------*/

	/*------------------------------
	----These is the date editor preview----
	------------------------------*/
	#date-preview {
		width:90vw;
		height:auto;
		padding-top:1em;
		padding-bottom:1em;
		background-color:#dadada;
		overflow:hidden;
		text-align:center;
	}

	/*------------------------------
	----These is the date setup----
	------------------------------*/
	#date-setup {
		width:90vw;
		height:auto;
		padding-top:1em;
		padding-bottom:1em;
		background-color:#dadada;
		overflow:hidden;
		text-align:center;
	}

	#date-setup-in {
		width:58vw;
		height:auto;
		display:flex;
		justify-content:space-between;
		margin:auto;
	}

	.button-setup {
		padding:5px;
		border:2px solid #484848;
		background-color:transparent;
		color:#484848;
		font-weight:normal;
		outline:none;
		font-size:17px;
	}

	/*------------------------------
	----These is the single date editor----
	------------------------------*/
	#single-date-section {
		width:90vw;
		height:3em;
		overflow:hidden;
		box-shadow:0 0 4px #484848;
		position:relative;
		margin-top:1em;
		margin-left:5vw;
		transition:all 0.75s ease;
	}

	#single-date {
		width:90vw;
		height:auto;
		padding-top:1em;
		padding-bottom:1em;
		background-color:#dadada;
		overflow:hidden;
		text-align:center;
	}

	#single-date-button {
		background-color:#484848;
		color:#f3f3f3;
	}

	/*------------------------------
	----These is the multiple date editor----
	------------------------------*/
	.multiple-dates {
		width:90vw;
		height:3em;
		overflow:hidden;
		box-shadow:0 0 4px #484848;
		position:relative;
		margin-top:1em;
		margin-left:-100vw;
		transition:all 0.75s ease;
	}

	/*----first date setup----*/
	#first-date-setup {
		width:90vw;
		height:auto;
		padding-top:1em;
		padding-bottom:1em;
		background-color:#dadada;
		overflow:hidden;
		text-align:center;
	}

	/*----end date setup----*/
	#end-date-setup {
		width:90vw;
		height:auto;
		padding-top:1em;
		padding-bottom:1em;
		background-color:#dadada;
		overflow:hidden;
		text-align:center;
	}

	/*----this is the between text----*/
	#between-setup {
		width:90vw;
		height:auto;
		padding-top:1em;
		padding-bottom:1em;
		background-color:#dadada;
		overflow:hidden;
		text-align:center;
	}

	/*-----------------------------

	-----Button Editor-----

	This is the button editor
	-----------------------------*/

	/*------------------------------
	----These is the button preview---
	------------------------------*/
	#button-preview {
		width:90vw;
		height:auto;
		padding-top:1em;
		padding-bottom:1em;
		background-color:#dadada;
		overflow:hidden;
		text-align:center;
	}

	#button-text {
		width:90vw;
		height:auto;
		padding-top:1em;
		padding-bottom:1em;
		background-color:#dadada;
		overflow:hidden;
		text-align:center;
	}

	#button-border {
		width:90vw;
		height:auto;
		padding-top:1em;
		padding-bottom:1em;
		background-color:#dadada;
		overflow:hidden;
		text-align:center;
	}

	#border-back {
		width:90vw;
		height:auto;
		padding-top:1em;
		padding-bottom:1em;
		background-color:#dadada;
		overflow:hidden;
		text-align:center;
	}

	#border-font-color {
		width:90vw;
		height:auto;
		padding-top:1em;
		padding-bottom:1em;
		background-color:#dadada;
		overflow:hidden;
		text-align:center;
	}

	#web-link {
		width:90vw;
		height:auto;
		padding-top:1em;
		padding-bottom:1em;
		background-color:#dadada;
		overflow:hidden;
		text-align:center;
	}

	/*-----------------------------

	-----Shadow Box Editor-----

	This will edit the shadow box
	-----------------------------*/

	/*------------------------------
	----These is the shadow box setup----
	------------------------------*/
	#shadow-box-setup {
		width:90vw;
		height:auto;
		padding-top:1em;
		padding-bottom:1em;
		background-color:#dadada;
		overflow:hidden;
		text-align:center;
	}

	#shadow-back-color {
		width:90vw;
		height:auto;
		padding-top:1em;
		padding-bottom:1em;
		background-color:#dadada;
		overflow:hidden;
		text-align:center;
	}

	/*This close div is for tab based close interaction 
	of the specific tools*/
	.close-div {
		width:3em;
		height:3em;
		background-color:transparent;
		display:none;
		position:absolute;
		z-index:10000;
		top:0px;
		right:0px;
		text-align:center;
		overflow:hidden;
	}

	.close-div > img {
		margin-top:14px;
	}

	/*------------------------------

	--Menu Options--

	This is the bottom menu options 
	like the close, save, publish, 
	menu, and settings options, this 
	is in the #editor-ext div
	------------------------------*/
	#editor-menu-buttons {
		width:100vw;
		height:3em;
		background-color:#fff;
		position:absolute;
		z-index:1000000000;
		bottom:0px;
		left:0px;
	}

	.editor-menu {
		width:20vw;
		height:3em;
		text-align:center;
		float:left;
		background-color:#fff;
	}

	.editor-menu > img {
		margin-top:13px;
	}

}